@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<p>@ViewData["num_user"]</p>

<a href="AUsers">
    <div class="card text-white bg-primary mb-3 text-center" style="max-width: 18rem;">
        <div class="card-body">
            <p class="card-text">Number of user</p>
            <h5 class="card-title">@ViewData["num_user"]</h5>
        </div>
    </div>
</a>

<a href="aCategory">
    <div class="card text-white bg-primary mb-3 text-center" style="max-width: 18rem;">
        <div class="card-body">
            <p class="card-text">Number of catrgory</p>
            <h5 class="card-title">@ViewData["num_category"]</h5>
        </div>
    </div>
</a>

<a href="AOrder">
    <div class="card text-white bg-primary mb-3 text-center" style="max-width: 18rem;">
        <div class="card-body">
            <p class="card-text">Number of order</p>
            <h5 class="card-title">@ViewData["num_order"]</h5>
        </div>
    </div>
</a>

<a href="AProduct">
    <div class="card text-white bg-primary mb-3 text-center" style="max-width: 18rem;">
        <div class="card-body">
            <p class="card-text">Number of product</p>
            <h5 class="card-title">@ViewData["num_product"]</h5>
        </div>
    </div>
</a>
